@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* styling for header */
:root {
  --primary-font: "DM Sans", sans-serif;
  --color-accent: #1e0e62;
  --primary-color: #25dac5;
  --text-color: #15143966;
}

header {
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4.4rem 6.87rem;
}

header nav {
  display: flex;
  gap: 2.2rem;
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/*button styles */

.btn-container {
  display: flex;
  gap: 1.3rem;
}

.btn-container button {
  cursor: pointer;
  padding: 7px 22px;
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-weight: 500;
}

.sign-in {
  border: none;
  background-color: white;
  color: var(--text-color);
}

.sign-up {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 18px;
}
