.navbar-container {
  display: flex;
}

.navbar-container a {
  text-decoration: none;
  padding: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  color: black;
  border: 1px solid black;
  margin: 0.8rem;
}
