.container-fluid {
  transition: 0.3s ease-in-out;
  background-color: #181818;
}

nav {
  background-color: #181818;
  transition: 0.3s;
}

.nav-open {
  position: absolute;
  width: 100%;
  top: 3rem;
  z-index: -1;
  border-top: 1px solid gray;
}

.nav-closed {
  position: absolute;
  top: -16rem;
  width: 100%;
  z-index: -1;
}

nav a:hover {
  background-color: aliceblue;
}

#mobile-nav {
  visibility: hidden;
}

@media (max-width: 768px) {
  #mobile-nav {
    visibility: visible;
  }
}
