:root {
  --primary-color: #b88e2f;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

#heading-parent-container {
  padding: 1.875rem 3.375rem;
}

@media (max-width: 768px) {
  #heading-parent-container {
    padding: 1.7rem 1.7rem;
  }
}

.logo-container h3 {
  cursor: pointer;
  font-size: 2.1rem;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.logo-container img {
  cursor: pointer;
}

nav {
  gap: 75px;
}

.nav-icons-container {
  cursor: pointer;
  gap: 45px;
}

.nav-icons-container img {
  transition: 0.3s;
}

.nav-icons-container img:hover {
  opacity: 0.6;
}

nav a {
  font-size: 1rem;
  font-family: var(--primary-font);
  color: #333333;
  font-weight: 600;
}

nav a::after {
  content: "";
  height: 2px;
  background-color: var(--primary-color);
  display: block;
  width: 0%;
  transition: 0.4s;
}

nav a:hover::after {
  width: 90%;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
