:root {
  --primary-color: #b88e2f;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

#heading-parent-container {
  padding: 1.875rem 3.375rem;
}

.logo-container h3 {
  cursor: pointer;
  font-size: 2.1rem;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.logo-container img {
  cursor: pointer;
}

nav {
  gap: 75px;
}

.nav-icons-container {
  cursor: pointer;
  gap: 45px;
}

.nav-icons-container img {
  transition: 0.3s;
}

.nav-icons-container img:hover {
  opacity: 0.6;
}

nav a {
  font-size: 1rem;
  font-family: var(--primary-font);
  color: #333333;
  font-weight: 600;
}

#desktop-nav nav a::after {
  content: "";
  height: 2px;
  background-color: var(--primary-color);
  display: block;
  width: 0%;
  transition: 0.4s;
}

#desktop-nav nav a:hover::after {
  width: 90%;
}

#mobile-nav {
  border-top: 1px solid gray;
  top: 95px;
  width: 100%;
  height: auto;
  left: -400px;
  z-index: 1;
  transition: left 0.5s ease-in-out;
}

.mobile-nav.show-nav {
  left: 0;
  z-index: 1;
}

#mobile-nav nav a {
  border-bottom: 1px solid gray;
  width: 60vw;
  text-align: center;
}

#mobile-nav nav a:hover {
  color: #b88e2f;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes moveRight {
  from {
    left: -400px; /* Start position (off-screen) */
  }
  to {
    left: 0; /* End position (fully visible on the screen) */
  }
}

@media (max-width: 768px) {
  #heading-parent-container {
    padding: 1.7rem 1.7rem;
  }
}

@media (max-width: 1280px) {
  nav {
    gap: 35px;
  }
  .nav-icons-container {
    cursor: pointer;
    gap: 35px;
  }
}
